<html>
<body>

    <a href="/cats/chuttie"><img src="/images/cat1.jpg" alt=""></a>
    <a href="/cats/loopy"><img src="/images/cat2.jpg" alt=""></a>
    <a href="/cats/kookie"><img src="/images/cat3.jpg" alt=""></a>

</body>
</html>