<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Ninja</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action='/addNinja' method='post'>
        {% csrf_token %}
    <input type='text' name='first_name'>
    <input type='text' name='last_name'>
    <select name="dojo">

        {% for dojo in all_dojos %}
            <option value='{{dojo.id}}'>{{dojo.name}} {{dojo.city}}</option>
        {% endfor %}

    </select>
    <br>
    <br><button type="submit">Add ninja to Dojo</button>

</form>
    
</body>
</html>