<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ReadOne</title>
</head>
<body>
    <h1>Tv Show {{show.id}}</h1>
    <p>Title:{{show.title}}</p>
    <p>Network:{{show.network}}</p>
    <p>Release Date:{{show.released_at}}</p>
    <p>Description:{{show.desc}}</p>
    <p>Last updated :{{show.updated_at}}</p>
    <br>
    <a href="/edit">Edit</a> | <a href="/Delete">Delete</a>
    
</body>
</html>