<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shows</title>
</head>
<body>
    <h1>All Shows</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Network</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <thead>
                {%for show in all_shows%}
                <tr>
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.released_at}}</td>
                    <td>{{show.description}}</td>
                    <td><a href='/readone/{{show.id}}'>Show</a> | <a href='/readone/{{show.id}}/edit'>Edit</a> | <a href='/readone/{{show.id}}/delete'>Delete</a> </td>
                </tr>
                {%endfor%}
            </thead>
        </table>

    </div>
    
</body>
</html>